<div class="container-fluid">
    <div class="row gallery">
        <div class="col-4 gallery__factory-left" style="background-image: url('https://www.cnet.com/a/img/resize/2525980f1e2df8a00827b07bc65ca0e5cf2ffade/hub/2009/01/29/48ce6193-f100-11e2-8c7c-d4ae52e62bcc/Porsche1.jpg?auto=webp&width=1200');"></div>
        <div class="col-8 gallery__factory-right" style="background-image: url('https://di-uploads-pod15.dealerinspire.com/porscheminneapolis/uploads/2019/01/Screen-Shot-2019-01-16-at-1.23.30-PM.jpg');"></div>
    </div>
    <div class="row map">
        <div class="col map__location" style="background-image: url('https://files.porsche.com/filestore/image/multimedia/none/aboutporsche-porschemuseum-xle/normal/37333642-daf9-11e5-b8f1-0019999cd470/porsche-normal.jpg');"></div>
    </div>
    <div class="row model">
        <div class="col model__display" style="background-image: url('https://files.porsche.com/filestore/image/multimedia/none/countryselector-992-gt3-rs/normal/3604d4e5-132b-11ed-80f5-005056bbdc38/porsche-normal.jpg');"></div>
    </div>
</div>
