.header {
    padding-block: 10px;
    padding-inline: 10px;
    margin: 0;
    height: 100px;

    &__app-name {
        font-size: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 400;
        margin-left: 10px;
        color: #ececec; 
    }

    &__user-profile {
        height: 60px;
        width: 60px;
        border: 2px solid black;
        background-image: url('../../../assets/992silver.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100px;
    }

    &__user-name {
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 400;
        margin-left: 10px;
        color: #ececec;
    }
}