.page {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  background: rgb(0, 0, 0);

  &__content {
    height: 93%;
  }
}

@media (min-width: 3000px) {
  .col-small {
    width: 80px;
    margin-left: 10px;
  }
}

@media (min-width: 1920px) {
  .col-small {
    width: 80px;
    margin-left: 10px;
  }
}
