.grid-no-results {
  height: 79vh;
}

.content {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 25px;
  max-height: 70vh;
  overflow-x: hidden;
  margin-left: 20px;
}

.total {
  height: 79vh;
}

.brand {
  margin-top: 20px;
}

::-webkit-scrollbar {
  border-radius: 50px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #8f8f8f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 50px;
}
