<div class="container-fluid box">
    <div class="row text-center">
        <div class="col text">DriveTrain</div>
    </div>
    <div class="row d-flex justify-content-center">
        <img height="300" src="https://wieck-honda-production.s3.amazonaws.com/photos/4be2de16d2f4470c8ac0ece5a05614ecb4c9a690/preview-928x522.jpg"/>
    </div>
    <!-- <div class="row d-flex justify-content-center" style="width: 800px;">
        <img height="800px" src="../../../assets/germany.png"/>
    </div> -->
    <div class="row text-center">
        <div class="col text">RWD</div>
    </div>
</div>
