.drivetrain {
    height: 400px;
    width: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}

.text {
    font-size: 40px;
}

.box {
    border: 2px solid #ececec;
    background: white;
    width: 600px;
    padding: 20px;
    border-radius: 15px;
}