<div class="container-fluid stats">
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
            <div class="stats__title">Features</div> 
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <div class="stats__type">
                        <div class="d-flex align-items-center px-2 mt-3">
                            <mat-icon fontIcon="local_gas_station" class="stats__icon"></mat-icon>
                            <div class="stats__sub-title">Consumption</div>
                        </div>
                        <div class="d-flex stats__value mt-2">4.2 Litres</div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="stats__type">
                        <div class="d-flex align-items-center px-2 mt-3">
                            <mat-icon fontIcon="speed" class="stats__icon"></mat-icon>
                            <div class="stats__sub-title">Top Speed</div>
                        </div>
                        <div class="d-flex stats__value mt-2">296 km/h</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 d-flex justify-content-start">
            <mat-divider vertical class="stats__divider"></mat-divider>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <div class="stats__type">
                        <div class="d-flex align-items-center px-2 mt-3">
                            <mat-icon fontIcon="scale" class="stats__icon"></mat-icon>
                            <div class="stats__sub-title">Weigth</div>
                        </div>
                        <div class="d-flex stats__value mt-2">1516 Kg</div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="stats__type">
                        <div class="d-flex align-items-center px-2 mt-3">
                            <mat-icon fontIcon="timer" class="stats__icon"></mat-icon>
                            <div class="stats__sub-title">0 - 60</div>
                        </div>
                        <div class="d-flex stats__value mt-2">2.7 s</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
