<div class="container-fluid track">
    <div class="row">
        <div class="col">
            <div class="track__name">Nurburgring Lap Time</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-4">
            <img height="350" src="../../../assets/track.png">
        </div>
        <div class="col d-flex align-items-center">
            <mat-icon fontIcon="timer" class="track__timer-icon"></mat-icon>
            <div class="track__time">6:49.3 seconds</div>
        </div>
    </div>
</div>
